.footer {
    background-color: rgb(107, 107, 242);
    text-align: center;
    font-weight: lighter;
}

.footer p {
    color:white;
}

.footer a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.footer-hr {
    margin-top: 0px;
    margin-bottom: 25px;
}